## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
1. Creating a Jupyter Notebook using Skills Network 
2. Create Markdown cells
3. Create and share a public Jupyter notebook, in Guithub

#### List popular languages for Data Science

* Python
* R
* Julia
* MATLAB
* SAS
* SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R Studio
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib

|Data Science Tools|
|------------------|
|Jupyter|
|Apache zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
S=(3*4)+5
## This a simple arithmetic expression to mutiply then add integers
print (S)

17

In [7]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author 
Ibtissame BOUHASSOUNE